h1,
h2,
h3,
h4,
h5,
.Lato {
  font-family: Lato;
}
.gradient {
  background: rgb(205, 200, 200);
  background: -moz-linear-gradient(
    39deg,
    rgba(205, 200, 200, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    39deg,
    rgba(205, 200, 200, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    39deg,
    rgba(205, 200, 200, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdc8c8",endColorstr="#ffffff",GradientType=1);
}
.cursor:hover {
  cursor: pointer;
}
.iconBtn {
  font-size: x-large;
}
.noDeco {
  text-decoration: none;
}
.muted {
  color: gray;
  text-decoration: none;
}
.spinner:hover {
  animation: spin 0.5s linear;
}
@font-face {
  font-family: "Lato";
  src: url("../fuentes/lato-regular-webfont.eot");
  src: url("../fuentes/lato-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fuentes/lato-regular-webfont.woff2") format("woff2"),
    url("../fuentes/lato-regular-webfont.woff") format("woff"),
    url("../fuentes/lato-regular-webfont.ttf") format("truetype"),
    url("../fuentes/lato-regular-webfont.svg#latoregular") format("svg");
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
