.cursor:hover {
  cursor: pointer;
}
.no-deco {
  text-decoration: none;
  color: black;
}
.no-deco:hover {
  text-decoration: none;
  color: black;
}
.muted {
  color: gray;
  text-decoration: none;
}
